#sidebar {
  border-right: 1px solid skyblue;
}
.side-section{
  margin-top: 20px;
  border-bottom: 1px solid grey;
}

#main {
  float: right;
  padding:25px;
}
#welcome {
  float: left;
  width:50%;
}

#top-links {
  padding-top: 30px;
}

.link-col {
  margin-left: 40px;
}

#header {
}

.content-row {
  margin: 0
}

.content-row h2 {
  margin: 0;
  font-size: 20px;
}

.left-content {
  border-right: solid white 10px;
}

#featured-pic {
  padding: 0;
}
